@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap");
@import "tailwindcss";
body {
  font-family: "Ancizar Sans", sans-serif;
}
.toastBody {
  display: flex;
  justify-content: center;
  color: #000000bb;
}
